{% extends 'main.html' %} {% block content %}

<main class="m-7">
  <div class="m-0 flex flex-row">
    <div
      class="m-0 flex h-screen w-1/3 flex-col justify-start bg-cyan-700 p-3 "
    >
      <p class="mt-2 p-1 text-lg font-semibold">Dashboard</p>
      <p class="mt-2 p-1 text-lg font-semibold">Devices</p>
    </div>
    <div class="flex flex-col">
      <p class="px-10 p-3 w-screen whitespace-nowrap bg-slate-800">
        Filter Bar
      </p>
    </div>
  </div>
</main>
{% endblock content %}
